<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div fxLayout="row" fxLayoutAlign="center start" fxLayout.xs="row" fxFlex.xs="95">
    <div class="sideTwoImg" fxLayout="column" fxLayoutGap="10px">
        <div class="image1">
            <img src="../assets/books123.png" id="img1">
        </div>
        <div class="image2">
            <img src="../assets/side small book.png" id="img2">
        </div>
    </div>
    <div class="imageContainer" fxLayout="column">
        <div class="container" fxLayout="row">
            <div class="image">
                <img src="../assets/books123.png">
            </div>
        </div>
        <div class="buttonContainer" fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                <button mat-raised-button class="addtobag" (click)="addToCartList()">
                    add to bag
                </button>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="addtowishlist">
                <button mat-flat-button (click)="addToWishList()" class="wishlistbtn">
                    <mat-icon class="wishlistIcon">favorite</mat-icon>wishlist
                </button>
            </div>
        </div>
    </div>
    <div class="bookDetails" fxLayout="column">
        <div fxLayout="column">
            <div class="bookName">
                {{bookData?.bookName}}
            </div>
            <div class="author">
                by {{bookData?.bookAuthor}}
            </div>
            <div class="rating" fxLayout="row" fxLayoutAlign="center center">
                <span>4.5</span>
                <mat-icon class="starIcon">star</mat-icon>
            </div>

            <div class="prize" fxLayout="row" fxLayoutGap="10px">
                <div class="price">
                    Rs.{{bookData?.discountPrice}}
                </div>
                <div class="discountprice">
                    <del> Rs. {{bookData?.originalPrice}} </del>
                </div>
            </div>
        </div>
        <mat-divider class="divider"></mat-divider>
        <div fxLayout="column" fxLayoutAlign="start start">
            <span class="bookdesc">Book Detail</span>
            {{bookData?.bookDetails}}
            <p class="paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat commodi et<br> possimus quidem
                veritatis.
                Quas nesciunt quis, nobis inventore esse voluptatem,<br>corporis quod necessitatibus officiis, natus
                animi
                velit. Debitis, eveniet.
            </p>
        </div>
        <mat-divider class="divider"></mat-divider>

        <div class="customer">
            <span>Customers Feedback</span>
        </div>

        <div class="overallratin">
            <div class="rate">
                <p class="ratename">Overall Rating</p>
                <span class="star-rating">
                    <input type="radio" name="rating" value="1" (change)="starRating($event)"><i></i>
                    <input type="radio" name="rating" value="2" (change)="starRating($event)"><i></i>
                    <input type="radio" name="rating" value="3" (change)="starRating($event)"><i></i>
                    <input type="radio" name="rating" value="4" (change)="starRating($event)"><i></i>
                    <input type="radio" name="rating" value="5" (change)="starRating($event)"><i></i>
                </span>
            </div>
            <div>
                <input [(ngModel)]="feedBack" type="text" placeholder="Write your review" class="review">
            </div>
            <div fxLayoutAlign="end center">
                <button mat-flat-button color="primary" class="submit" (click)="addFeedback()">Submit</button>
            </div>
        </div>

        <div class="ForStar" *ngFor="let feedback of feedbackData">
            <div fxLayout="row" fxLayoutGap="6px">
                <img src="../assets/profile1.jpg" width="20px" height="20px;">
                <div class="mayu">
                    Mayuri salunkhe
                </div>
            </div>
            <div class="cont">
                <div class="stars">
                    <ngx-star-rating [(ngModel)]="feedback.ratings" [id]="'rating3'" [disabled]="true">
                    </ngx-star-rating>
                </div>
            </div>
            <div class="feedback">
                {{feedback.feedBack}}
            </div>
        </div>
        
    </div>
</div>